[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "External/freetype"]
	path = External/freetype
	url = https://github.com/freetype/freetype.git
